# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
client
dataserver
client_solution

#Extraneous Program Output
output*.txt

#OS X mumbo-jumbo
*.dSYM
.DS_Store
*.*AppleDouble
